@charset "UTF-8";
/* place  */
/* line 13, styles.scss */
.maps-for-cf7-place.map {
  width: 90%;
  height: 0vh;
  visibility: hidden;
}

/* shortcode  */
/* line 21, styles.scss */
.maps-for-cf7-shortcode {
  width: 100%;
}
/* line 25, styles.scss */
.maps-for-cf7-shortcode.form.radio-label {
  font-weight: bold;
}
/* line 28, styles.scss */
.maps-for-cf7-shortcode.forminput[type="checkbox"].map-radio {
  margin-right: 0.5em;
}
/* line 32, styles.scss */
.maps-for-cf7-shortcode.rank-label {
  font-weight: bold;
}
/* line 39, styles.scss */
.maps-for-cf7-shortcode.map {
  width: 90%;
  height: 50vh;
}
/* line 43, styles.scss */
.maps-for-cf7-shortcode.website {
  margin-left: 0.5em;
}
/* line 46, styles.scss */
.maps-for-cf7-shortcode.marker-label-hybrid {
  color: #ffffff;
  letter-spacing: 0.1em;
  /* 文字間 */
  text-shadow: 0.1em  0.1em 0.05em #003366, -0.1em  0.1em 0.05em #003366, 0.1em -0.1em 0.05em #003366, -0.1em -0.1em 0.05em #003366, 0.1em  0px 0.05em #003366, 0px  0.1em 0.05em #003366, -0.1em  0px 0.05em #003366, 0px -0.1em 0.05em #003366;
  /* 文字の影 */
}

/* option */
/* line 68, styles.scss */
#maps-for-cf7-option-form-ids .maps-for-cf7-select-values.candidates-label {
  text-decoration: underline;
}
/* line 75, styles.scss */
#maps-for-cf7-option-form-ids .maps-for-cf7-select-values.targets-label {
  text-decoration: underline;
}
/* line 80, styles.scss */
#maps-for-cf7-option-form-ids .maps-for-cf7-select-values.target-label {
  margin-right: 0.5em;
}
